/*html{
  background-color: #4982B0;
}
body{
  margin: 0;
}


h1{

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position:relative;
  top: 30vh;
  left: 50%;
  margin-left: -10vw;
  font-size: 72px;
  color: #0B2840;
}
#bill{

  position:relative;
  top: 30vh;
  left: 50%;
  margin-left: -10vw;
}

h2{

  position:relative;
  top: 30vh;
  left: 50%;
    margin-left: -10vw;
}
#submit{
  position:relative;
  top: 30vh;
  left: 50%;

}

#percentage{
  position:relative;
  top: 30vh;
  left: 50%;
}*/
